<h1>Products</h1>
<div id="products">
  <% if @products.present? %>
    <table border="1">
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Price</th>
            <th>Stock (Amount)</th>
        </tr>
        <% @products.each do |product| %>
          <% next if product.amount <= 0 %>
          <%= render product %>
        <% end %>
    </table>
  <% else %>
    <div class="alert alert-alert">
      <p>No products available for now</p>
    </div>
  <% end %>
</div>

<hr>

<% if @cart %>
  <h1>Basket</h1>
  <div id="cart">
    <div class="lines" >  
      <% if @cart.line_items.present? %>
        <table border="0">
          <tr>
              <th>Product</th>
              <th>Quantity</th>
              <th>Price</th>
          </tr>
          <% @cart.line_items.each do |line_item| %>
            <tr class="<%= line_item.has_offer ? 'discount' : '' %>">
              <td><%= line_item.product.name %></td>
              <td><%= line_item.quantity %></td>
              <td><%= humanized_money_with_symbol(line_item.price) %></td>
            </tr>
          <% end %>
        </table>
      <% end %>
    </div>

    <div class="cart" >
      <strong>Total: <%= humanized_money_with_symbol(@cart.total_amount) %></strong>
      <form id="reset-cart-form" method="DELETE" action='<%= "/carts/#{@cart.id}" %>'>
          <button class="alert-alert" type="submit">Reset Cart</button>
        </div>
      </form>
    </div>
  </div>
<% end %>
