<!DOCTYPE html>
<html>
  <head>
    <title>CashRegister</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <nav>
      <% if user_signed_in? %>
        <%= link_to "Sign out", destroy_user_session_path, data: { "turbo-method": :delete } %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path %>
        <%= link_to "Sign up", new_user_registration_path %>
      <% end %>
    </nav>

    <div data-controller="flash-messages" data-action="flash-messages#connect">
      <turbo-frame id="flash-frame-success" data-turbo-frame="flash-frame-success">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>">
            <%= value %>
          </div>
        <% end %>
      </turbo-frame>
    </div>

    <%= yield %>
  </body>
</html>
